<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!--/*@thymesVar id="urlForm" type="com.app.UrlForm"*/-->
<form action="#" th:action="@{/}" th:object="${urlForm}" method="post">
    <table>
        <tr>
            <td>Raw Value:</td>
            <td><input type="text" th:field="${urlForm.rawValue}"/></td>
            <td th:if="${#fields.hasErrors('rawValue')}" th:errors="${urlForm.rawValue}">Raw URL Value Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
